%button.play.btn.btn-lg.center-block{style: 'width: 500px;height:100px;margin-top:25px;margin-bottom:25px;border:1px solid black;'} Play Game
%canvas#canvas{style: "background-color: #DDD;display: none;border: 1px solid black;border-radius: 10px;position:absolute;left:50%"}

:javascript
